<!DOCTYPE html>
<html lang="en">
<head>
  <title>About us</title>
      <h2><a href='/bootstrap-grid'>Go back home</a><br /></h2>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>ABOUT US</h2>
  <p>The Creators of Dolls.com</p>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="/static/creators.png" alt="creators.jpg" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Marissa and Caleb</h4>
      <p class="card-text">Marissa is a passionate software engineer with a knack for problem-solving. Her love for coding extends beyond the workplace, where she enjoys exploring new technologies and contributing to open-source projects.
With a keen eye for design, Marissa brings creativity to every project. She believes in the power of technology to make a positive impact and is dedicated to creating user-friendly and innovative solutions.
Outside the digital realm, Marissa enjoys hiking, photography, and is an advocate for promoting diversity and inclusion in the tech industry.
</p>
      <p class="card-text">Caleb is a results-driven marketing specialist who thrives on crafting compelling brand narratives. His strategic mindset and analytical approach have fueled successful marketing campaigns that resonate with diverse audiences.
With a background in business development, Caleb is adept at identifying market trends and implementing growth strategies. He is committed to driving measurable success for businesses through data-driven marketing initiatives.
Outside the office, Caleb is a sports enthusiast and community volunteer, channeling his passion for teamwork and collaboration both personally and professionally.
</p>





      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <br>