<!-- contact.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
    <p>310-111-1112, or email at us at Dolls@gmail.com</p>

<head>
    <meta charset="UTF-8">
    <title>Mailing List</title>
</head>
<body>
    <form action="/Gotcha" method="GET"> <!-- Update the action attribute to "/home" -->
        <div class="mb-3 mt-3">
            <label for="Name" class="form-label">Name:</label>
            <input type="Name" class="form-control" id="name" placeholder="Enter Name" name="name">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address:</label>
            <input type="address" class="form-control" id="address" placeholder="Enter Address" name="address">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <input type="phone" class="form-control" id="phone" placeholder="Enter Phone #" name="phone">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="phone" placeholder="Enter Email" name="email">
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember your info
            </label>
        </div>
        <button type="submit" class="btn btn-primary">SignUp!</button>
    </form>
</body>
</html>

</body>
</html>
